// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

$body-bg: #fff;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar {
    background-color: #f3f3f3;
}

.content {
	min-height: calc(100vh - 80px);
}

.footer {
    padding-top: 1rem;
    background: #f3f3f3;
    color: black;
    font-weight: 500;
    display: flex;
}

.footer ul li {
    display: inline; 
    margin-left: 11rem; 
    padding: 3px; 
    list-style-type: none;
}

.footer ul a {
    text-decoration: none;
    color: black;
}

.left {
    position: absolute;
    margin: 10px;
    text-align: left;
    width: 10%;
}

.left h5 {
    text-align: center;
}

.left .element {
    height: 50px;
}



